AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
REGION=
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
RESERVATIONS_TABLE=
CORS_ORIGIN=
USERS_TABLE=
USERS_TABLE=
NOTIFICATIONS_TABLE=
RESERVATIONS_TABLE=
MESSAGES_TABLE=
=
